.under > .side_menu > #side_menu_open_2 {font-weight: 600;}

body input, body textarea {border: none;}

::-webkit-scrollbar {width: 0;}

body textarea {padding: 20px; overflow: hidden;}

body input:focus, body textarea:focus {outline: none;}

body .input_w {border-radius: 5px;}

label {margin-right: 30px;}

.content .inner {
    margin: 3% 7%;
    position: relative;
}

.content tr:first-child {height: 6vh;}

.content .inner .white {color: white;}

.content .inner .big {font-size: 22px;}

.content .inner table {width: 848px;}

.content .inner #plan_name_t {
    width: 10%;
    position: relative;
}

.content .inner #plan_name_t div {
    position: absolute;
    top: 1px;
}

.content .inner #plan_title {
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    font-size: 20px;
    width: 98.1%;
    padding-bottom: 5px;
}

.content .inner #search_place_b {
    width: 98.5%;
    background-color: #fff;
    border-radius: 18px;
    height: 4.2vh;
    position: relative;
    overflow: hidden;
}

.content .inner #search_place_b * {
    position: absolute;
    background-color: #fff;
    height: 100%;
}

.content .inner #place_name {
    width: 91.2%;
    font-size: 16px;
    left: 1vw;
}

.content .inner #search_btn {
    left: 95%;
    border: none;
}

.content .inner .search_result {
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    width: 98.5%;
    height: 100px;
    padding: 10px;
    cursor: pointer;
}

.content .inner #search_place_add {
    position: absolute;
    left: 732px;
}

.content .inner #search_place_add:hover {cursor: pointer;}

.content .inner tr:nth-child(2) * {margin-bottom: 1vh;}

.content .inner #trip_date_t {margin-top: 3vh;}

.content .inner #explanation_e {
    width: 100%;
    height: 210px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 20px;
    resize: none;
}

.content .inner tr:nth-child(5) *,
.content .inner tr:nth-child(6) * {padding-top: 2vh;}

input[type=radio]:checked {accent-color: black;}

#img_choice_tr {display: none;}

#img_choice_cover {
    margin-top: 10px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 10px;
}

#img_content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img {
    overflow: hidden;
    width: 191px;
    height: 191px;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    margin: 10px;
    cursor: pointer;
}

#img_header {
    display: flex;
    margin-top: 10px;
}

#img_header div {
    height: 30px;
    text-align: center;
}

#basic {
    margin: 0 20px;
    width: 95px;
    border-bottom: 1.5px solid #000;
}

#basic, #computer {cursor: pointer;}

#computer {width: 160px;}

.clicked {
    border: 2px solid #000;
    width: 201px;
    height: 201px;
}

.notClicked {
    border: 2px solid gray;
    width: 186px;
    height: 186px;
}

#img_content2 {
    height: 350px;
    text-align: center;
    display: none;
    padding-top: 120px;
}

input[type="file"] {display: none;}

#image_section {
    width: 90%;
    height: 90%;
}

#userImgBtn {
    background-color: black;
    height: 40px;
    padding: 12px;
    color: white;
    border-radius: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.content .inner #add_done_plan {
    height: 30px;
    border-radius: 20px;
    background-color: black;
    position: absolute;
    left: 685px;
    cursor: pointer;
}

#place_add {
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 0;
    z-index: 1000;
    right: 0;
}

#cover {
    width: 100%;
    height: 100%;
    background-color: #0000007e;
    position: fixed;
    top: 0;
    display: none;
}

#cancle {
    position: absolute;
    top: 1%;
    left: 96%;
    cursor: pointer;
}

#place_add_table {
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 20px;
    width: 630px;
}

#place_add_table tr:nth-child(5) {
    position: relative;
    height: 500px;
}

#place_add_table tr:not(:nth-child(n+4)) {height: 80px;}

#place_add_table tr input {
    padding: 5px;
    border-bottom: 1px solid #000;
    width: 100%;
}

#place_add_table tr th {
    text-align: center;
    width: 150px;
}

#explanation_p {
    position: absolute;
    width: 600px;
    height: 450px;
    left: 30px;
    top: 3px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 20px;
    resize: none;
    border: 1px solid #000;
}

#count {
    position: absolute;
    bottom: 0;
    right: 0;
}

#add_done_place {
    background-color: white;
    position: absolute;
    bottom: 80px;
    margin-left: 560px;
}