.under > .side_menu > #side_menu_open_2 {font-weight: 600;}

.under > .side_menu > div[id^="side_menu_close_"] {
    display: none;
    position: relative;
}

.under > .content {
    color: white;
    font-size: 20px; 
}

.under > .content > .detail {margin: 2vw 0 0 3vw;}

.under > .content > .detail > .date_div {
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    width: 175px;
    position: relative;
    display: flex;
}
.under > .content > .detail .date {margin: auto;}

.under > .content > .detail .close_btn,
.under > .content > .detail .open_btn {cursor: pointer;}

.under > .content > .detail .close_btn {display: none;}

.plan .timeline .bar {
    width: 1px;
    border-right: 1px solid white;
    margin: 3px 0 3px 11px;
    height: 94%;
}

.plan .detail_plan .plan_content {
    width: 650px;
    height: auto;
    margin-left: 20px;
    margin-top: 31px;
    background-color: rgba(148, 148, 148, 0.4);
    padding: 15px;
    font-size: 17px;
}

.plan_content > div:not(:last-child) {margin-bottom: 5px;}

.notMap {display: flex;}

.map {margin: 30px 0 0 20px;}

.map img {
    width: 100%;
    height: 100%;
}

.plan {
    display: flex;
    flex-direction: row;
}

.circle2 {cursor: pointer;}

#add_detail {
    background-color: white;
    right: 0;
    position: absolute;
    width: 0;
    color: #000;
    top: 5vh;
    height: auto !important;
}

#add_detail table:not(#place_add_table) {
    width: 75%;
    margin: 35px auto;
    display: none;
}

#add_detail table:not(#place_add_table) tr .detail_title {
    width: 20%;
    height: 40px;
    padding: 30px 0;
    vertical-align: middle;
}

textarea:focus {outline: none;}

#add_detail table:not(#place_add_table) tr td > div:not(:last-child):not(.aa):not(.bb):not(#search___result),
#add_detail textarea {
    border-radius: 20px;
    border: 1px solid #000;
}

#add_detail table:not(#place_add_table) tr:nth-child(2) input {
    width: 92%;
    border: none;
    height: 35px;
    padding-left: 15px;
}

#adit_date {
    width: 100%;
    border: none;
    font-size: 20px;
    padding-top: 27px;
}

#adit_date:focus {outline: none;}

#search {position: relative;}

#search-icon {
    position: absolute;
    top: 3px;
    cursor: pointer;
}

#add_detail table:not(#place_add_table) tr:nth-child(2) input:focus {outline: none;}

#add_detail table:not(#place_add_table) tr:nth-child(2) td > div:not(:first-child):not(#search___result) {
    height: 100px;
    margin-top: 10px;
}

#search___result {
    height: auto;
}

#add_detail table:not(#place_add_table) tr:nth-child(2) td > div:first-child {
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 25px;
    height: 35px;
}

.add_detail_plan {cursor: pointer;}

#add_detail table:not(#place_add_table) textarea {
    height: 300px;
    padding: 10px;
    width: 100%;
}

#add_detail table:not(#place_add_table) .result {
    cursor: pointer;
    padding: 10px;
}

#add_detail table:not(#place_add_table) td:last-child {position: relative;}

.right {
    position: absolute;
    display: block;
    cursor: pointer;
    right: 0;
    bottom: 0;
}

.time {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 20px;
}

.time:focus {outline: none;}

#watch {display: flex;}

#watch input {
    border: none;
    border-bottom: 1px solid #000;
}

#watch1 {display: flex;}

.aa {padding: 30px;}

.bb {padding: 30px 10px;}

.mini_bar {
    font-size: 10px;
    margin-left: 570px;
    display: flex;
    height: 20px;
}

.fs {
    font-size: 20px;
    cursor: pointer;
}

.editInput {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.363);
    color: white;
}

.editInput:focus {outline: none;}

.editInput:not(textarea) {
    padding-left: 10px;
    font-size: 17px;
}

.last {margin-left: 10px;}

#place_add {
    height: 95vh;
    background-color: white;
    font-size: 16px;
    width: 75%;
    margin: 70px auto;
}

#place_add input:not(#add_done_place) {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
}

#explanation_p {
    width: 100%;
    height: 300px;
    padding: 10px;
    resize: none;
}

#explanation_p:focus,
#place_add input:focus {outline: none;}

#place_add tr,
#place_add td {width: 100%;}

#place_add_table tr:not(:nth-child(n+4)) {height: 80px;}

#place_add_table tr th:first-child {text-align: center;}

#place_add_table tr:nth-child(4) {height: 25px;}

#place_add_table tr:nth-child(5) td {padding-left: 12px;}

#count {padding: 20px 0 0 510px;}

#add_done_place {
    border: none;
    background-color: white;
    padding: 20px 0 0 12px;
}