#calendar-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#btn {position: relative;}

#btn * {
    position: absolute;
    border: none;
    background-color: #fff;
}

#prev:disabled {color: gray;}

#calendar-left, #calendar-right {
    display: inline-block;
    width: 400px;
    height: 252px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    overflow: hidden;
}

.calendar-date.disabled {background-color: lightgray;}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-header {
    grid-column: span 7;
    padding: 10px 0;
}

.calendar-day, .calendar-date {
    padding: 10px;
    box-sizing: border-box;
}

.sunday {color: red;}

.calendar-date.selected,
.calendar-date.range {
    background-color: #cce5ff;
}

.calendar-date:not(:empty, .calendar-date.disabled):hover {
    background-color: #cce5ff;
    cursor: pointer;
}

#selected-range {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    position: relative;
    top: -20px;
    left: 10px;
}

.calendar {background-color: #fff;}