.content {
    height: 100%;
}

.title {
    color: white;
    padding-top: 100px;
    font-size: 35px;
    text-align: center;
}

.question {
    color: white;
    text-align: center;
}

.table-list {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

thead, tbody, tr, th, td {
    border: 1px solid white;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

td {
    
    vertical-align: middle;
    text-align: center;
}

.btn-secondary {
    margin: 20px;
    margin-right: 330px;
   
}

tbody tr{
    cursor: pointer;
    transition: background-color 0.2s ease;
}
tbody tr:hover {
    background-color: rgba(148, 148, 148, 0.4);
}


.paging-area {
    padding-top: 30px;
    text-align: center;
}