.under > .side_menu > #side_menu_open_3 {font-weight: 600;}

.headLine {
    width: 1000px;
    height: 250px;
    margin: auto;
    position: relative;
    display: flex;
}

.headLine .textLine {
    color: white;
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 180px;
    right: 60px;
}

.headLine .whiteBox {
    width: 10px;
    height: 40px;
    background-color: rgb(248, 247, 156);
    position: absolute;
    top: 183px;
    right: 40px;
}

.best-travel {
    width: 1000px;
    height: 530px;
    margin: auto;
    position: relative;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.best-travel .moreTravel {
    color: white;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    top: 450px;
    right: 65px;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
}

.best-travel .moreTravel .goMore {
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: -35px;
    top: -1px;
}

.best-travel .swiper-container {
    width: 950px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 25px;
}

.best-travel .swiper-container .swiper-wrapper .swiper-slide {
    width: 310px;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
}

.best-travel .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.best-travel .swiper-container .swiper-wrapper .swiper-slide:hover img {
    filter: blur(5px);
    transform: scale(1.4);
}

.best-travel .swiper-prev,
.best-travel .swiper-next {
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 229px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.best-travel .swiper-prev {
    left: 25px;
    transform: translateX(-50%);
}

.best-travel .swiper-next {
    right: 25px;
    transform: translateX(50%);
}

.best-travel .swiper-prev:hover,
.best-travel .swiper-next:hover {
    background-color: #333;
    color: #fff;
}

/* board */
.board {
    width: 1000px;
    height: 950px;
    margin: auto;
    position: relative;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
}

.board .search {
    margin-left: 5px;
    display: block;
}

.board .search input {
    width: 38px;
    height: 38px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    text-align: right;
    font-size: 20px;
    transition: width .4s;
    margin: 1px 5px 0 0;
    cursor: pointer;
}

.board .search .material-icons.search {
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: 9px;
    left: 33px;
    pointer-events: none;
}

.board .search input:focus {
    width: 250px;
}

.board button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.board .search .material-icons.edit {
    width: 20px;
    height: 20px;
    margin: auto;
}

.container {
    width: 950px;
    margin: auto;
    overflow: hidden;
    padding: 0px;
}
.container .board-list {
    background: #000000;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.container .board-list .board {
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.container .board-list .board .thumbnail {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 14px;
}

.container .board-list .board .thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container .board-list .board .title {
    width: 675px;
    height: 90px;
    margin-top: 20px;
    margin-left: 140px;
    font-size: 30px;
    font-weight: 700;
    word-break: break-all;

}
.container .board-list .board .info {
    width: 500px;
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 13px;
}

.cover {
    width: 80px;
    height: 150px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgb(255, 189, 91);
    border-radius: 0 10px 10px 0;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease-in;
    }

.cover .material-icons {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 60px;
}

.preview {
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
    bottom: 0;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    opacity: 0;
    text-align: center;
    transition: .5s;
    transition-delay: .5s;
    
}

.cover:hover {
    width: 780px;
}

.cover:hover .preview {
    opacity: 1;
}

.paging-area button {
    border: 0;
    outline: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}

.paging-area button:hover {
    color: red; 
}