<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key ="loginAdmin">
		SELECT ADMIN_NO
		     , ADMIN_ID
		     , ADMIN_PWD
		     , ADMIN_NICKNAME
		     , ADMIN_STATUS
		  FROM ADMIN
		 WHERE ADMIN_ID = ?
		   AND ADMIN_PWD = ?
		   AND ADMIN_STATUS = 'Y'
	</entry>
	
	<entry key ="">
		
	</entry>

	<entry key = "">
		
	</entry>

	<entry key = "">
		
	</entry>
</properties>