<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectCity">
	  <![CDATA[
		  SELECT CITY_NAME
		       , CITY_COUNTRY
		    FROM CITY
		   WHERE (CITY_NAME LIKE ?
		      OR CITY_COUNTRY LIKE ?)
		     AND ROWNUM <= 10 
		   GROUP
		      BY CITY_NAME
		       , CITY_COUNTRY
	  ]]>
	</entry>
	
	<entry key="insertCity">
		INSERT
		  INTO CITY
		     (
		       CITY_NO
		     , CITY_NAME
		     , CITY_COUNTRY
		     ) 
		VALUES
		     (
		       SEQ_CITY.NEXTVAL
		     , ?
		     , ?
		     )
	</entry>

</properties>