<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

 <entry key="findMemberByKakaoId">
        <![CDATA[
        SELECT m.* FROM MEMBER m
        JOIN KAKAO_USER k ON m.M_ID = k.M_ID
        WHERE k.KAKAO_ID = ?
        ]]>
    </entry>

    <!-- 새로운 카카오 사용자 삽입 쿼리 -->
    <entry key="insertKakaoUser">
        <![CDATA[
        INSERT INTO KAKAO_USER (KAKAO_ID, M_ID, EMAIL, NICKNAME)
        VALUES (?, ?, ?, ?)
        ]]>
    </entry>	


</properties>