<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key ="selectPostCount">
SELECT
	   COUNT(*) COUNT
  FROM POST
 WHERE POST_STATUS = 'Y'
</entry>
	
	
<entry key ="selectPostList">
SELECT *
FROM (
SELECT ROWNUM RNUM, A.* 
  FROM      (
SELECT 
                    POST_NO
                  , POST_TITLE
                  , POST_CONTENT
                  , M_ID
                  , M_NAME
                  , POST_RECOMMEND
                  , POST_DATE
              FROM  POST
              JOIN  MEMBER USING(M_NO)
             WHERE  POST_STATUS = 'Y'
               AND  M_STATUS = 'U'
             ORDER
                BY POST_NO DESC
            ) A
    )
    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key = "deletePost">
UPDATE POST
   SET POST_STATUS = 'N'
 WHERE POST_NO = ?
   AND POST_STATUS = 'Y'


</entry>
</properties>