<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key ="insertSchedule">
		INSERT
		  INTO SCHEDULE
		     ( 
		       SD_NO
		     , SD_TITLE
		     , SD_PLACE
		     , SD_SDATE
		     , SD_EDATE
		     , SD_DESCRIPTION
		     , RANGE_NO
		     , BGI_NO
		     , SD_CDATE
		     , SD_STATUS
		     , M_NO
		     , SD_HOWLONG
		     )
		VALUES
		     (
		       SEQ_SD.NEXTVAL
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , ?
		     , SYSDATE
		     , ?
		     , ?
		     , ?
		     )
	</entry>
	
	<entry key ="selectSchedule">
		SELECT SD_NO
		     , SD_TITLE
		     , SD_PLACE
		     , SD_SDATE
		     , SD_EDATE
		     , SD_DESCRIPTION
		     , RANGE_NO
		     , BGI_NO
		     , SD_CDATE
		     , SD_STATUS
		     , M_NO
		     , SD_HOWLONG
		     , BBGI_PATH
		     , UBGI_PATH
		  FROM SCHEDULE
		  LEFT OUTER
		  JOIN BASIC_BGI ON (BBGI_NO = BGI_NO)
		  LEFT OUTER
		  JOIN USER_BGI ON (UBGI_NO = BGI_NO)
		  WHERE M_NO = ?
		    AND SD_STATUS != 'D'
	      ORDER
             BY SD_SDATE
	</entry>
	
	<entry key = "selectDays">
		SELECT SD_SDATE
		     , SD_EDATE
		  FROM SCHEDULE
		 WHERE M_NO = ?
		   AND SD_NO = ?
	       AND SD_STATUS != 'D'
	</entry>
	
	<entry key="deleteSchedule">
		UPDATE SCHEDULE
		   SET SD_STATUS = 'D'
		 WHERE SD_NO = ?
		   AND M_NO = ?
	</entry>
	
	<entry key="updateSchedule">
		UPDATE SCHEDULE
		   SET SD_TITLE = ?
		     , SD_SDATE = ?
		     , SD_EDATE = ?
		     , SD_HOWLONG = ?
		 WHERE M_NO = ?
		   AND SD_NO = ?
	</entry>
	
	<entry key="autoUpdateStatus">
		UPDATE SCHEDULE
		   SET SD_STATUS = ?
		 WHERE M_NO = ?
		   AND SD_NO = ?
	</entry>
	
	<entry key="selectAllSchedule">
		SELECT SD_NO
		     , SD_TITLE
		     , SD_PLACE
		     , SD_SDATE
		     , SD_EDATE
		     , SD_DESCRIPTION
		     , RANGE_NO
		     , BGI_NO
		     , SD_CDATE
		     , SD_STATUS
		     , SD_HOWLONG
		     , M_NO
		     , M_ID
		  FROM SCHEDULE
		  JOIN MEMBER USING (M_NO)
	</entry>
</properties>